body {
	margin: 0;
	text-align: center;
	font-family: "Amaranth", sans-serif;
}
h1 {
	font-family: "Pacifico", cursive;
}

.top {
	background-color: #ccf2f4;
	display: block;
	padding-top: 100px;
}

.cloud2 {
	position: absolute;
	top: 30px;
	right: 200px;
	width: 20%;
}

.cloud1 {
	position: absolute;
	width: 20%;
}

.mountain {
	padding-top: 100px;
	width: 60%;
}
